{% extends 'base.html' %}

{% load static %} 

{% block title %}

{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/list.css' %}" />
{% endblock css %} 
{% block content %}
    <h1>Posts</h1>
    <ul>
        {% for item in posts %}
        <div>
            <h5>Title: {{ item.title }}</h5>
            <p>Body: {{ item.body|truncatechars:10 }}</p>
            <span><strong>Author: {{ item.author }}</strong></span>
            <br/>
            <a href="{% url 'post_detail' item.id %}">Continue Reading....</a>
        </div>
        {% endfor %}
    </ul>
{% endblock content %}