{% extends 'base.html' %}
 
{% load static %} 
 
{% block title %} About {% endblock title %} 
{% block css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}" />
{% endblock css %} 

{% block content %}
<h1>About Me</h1>
<p>
Sul sul! I'm Larma — da nooboo who's always plarbing the flibby. Whether I'm dooba-dooing in crezzy bloffins, snorkling how the zibzobs work, or just flarnin' with good noobas, I like to stay blarby and keep things zibzoo. I'm all about growbah, grooble gabba-gabs, and makin' the moments go wah floo! Life's too zibna to stay in one blarn, so I'm always up for a new splarny-doo!
</p>
{% endblock content %}
